<% include ../partials/header%>

    <div class="container content">
        <div class="row headline-row">
            <div class="col-12">
              <h4>Add Exercise</h4>
            </div>
  
         
          </div>
          
      <div class="row">
        <div class="col-12">
          <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <input class="exercise-input" name="comment[name]" type="text" placeholder="Exercise Name">
            <input class="exercise-input" name="comment[notes]" type="text" placeholder="Notes">
               <table class="workout-row">
                 <thead class="table-head">
                   <tr>
                     <th>Set</th>
                     <th>Reps</th>
                     <th>Weight</th>
                    
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>1</td>
                     <td>
                      <input name="comment[reps]" type="number">
                     </td>
                     <td>
                      <input name="comment[weight]" type="number">
                     </td>
                 
                   </tr>
                   <tr>
                      <td>2</td>
                      <td>
                       <input name="comment[reps]" type="number">
                      </td>
                      <td>
                       <input name="comment[weight]" type="number">
                      </td>
                  
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                         <input name="comment[reps]" type="number">
                        </td>
                        <td>
                         <input name="comment[weight]" type="number">
                        </td>
                    
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>
                         <input name="comment[reps4]" type="number">
                        </td>
                        <td>
                         <input name="comment[weight4]" type="number">
                        </td>
                    
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>
                         <input name="comment[reps5]" type="number">
                        </td>
                        <td>
                         <input name="comment[weight5]" type="number">
                        </td>
                    
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>
                         <input name="comment[reps6]" type="number">
                        </td>
                        <td>
                         <input name="comment[weight6]" type="number">
                        </td>
                    
                      </tr>
                 </tbody>
               </table>
             </div>  
        </div>
        <div class="row headline-row">
            <div class="col-6">
                  <a href="/campgrounds"><i class="fas fa-hand-point-left"></i></a>
            </div>
            <div class="col-6">
                <button class="light-blue-button move-right">Save</button>
              </form>
          </div>
      </div>
    </div>
  

<% include ../partials/footer%>
