<% include ./partials/header %>



<div class="container content">
    <div class="row headline-row">
        <div class="col-12">
            <h4>Login form</h4>
        </div>
    </div>
        <div class="row slice">
            <div class="col-12">
         <form action="/login" method="POST">
               <label>Username</label>
               <input type="text" name="username">
               <label>Password</label>
               <input type="password" name="password" >
           
            </div>
    </div>
    <div class="row headline-row">
        <div class="col-12">
                <button class="move-right light-blue-button">Submit</button>
        </div>
    </form>
        </div>
</div>

<!-- <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form> -->

<% include ./partials/footer %>
