<% include ../partials/header %>


<div class="container">
        <div class="row headline-row">
          <div class="col-6">
            <h4>Exercise Index</h4>
          </div>
          <div class="col-6">
                <a href="/campgrounds/new"><button class="move-right dark-blue-button">+ Exercise</button></a>
          </div>
        </div>
          <div class="row">

              <table>
                <thead class="table-head">
                  <tr>
                    <th>Body Part</th>
                    <th>Exercise</th>
                    <th>type</th>
                    <th>
                      .
                      <th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Chest
                    </td>
                    <td>
                      Chest Press
                    </td>
                    <td>
                      Machine
                    </td>
                    <td>
                      >>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
   

   

<% include ../partials/footer %>
